[buildout]
develop = .
parts = scripts test omelette zopepy 
extends =   http://dist.plone.org/release/4.2/versions.cfg 
versions = versions

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs = Plone
       Pillow
       sinar.corruptiontracker
       Products.PloneHotfix20121106
zcml =

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[scripts]
recipe = zc.recipe.egg
eggs = 
    sinar.corruptiontracker
    zest.releaser

[test]
recipe = zc.recipe.testrunner
eggs = 
    sinar.corruptiontracker 
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']
